@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee {
    animation: marquee 20s linear infinite;
    white-space: nowrap;
    overflow: hidden;
  }
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
  
    100%{
        transform: translateX(-100%);
    }
  }
.slideshow-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slideshow-slide {
  display: none;
}

.slideshow-slide:first-child {
  display: block;
}


